.Card {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 25px;
    width: 400px;
    text-align: center;
    background-color: aliceblue;
}

.title {
    color:black;
    padding-left:30px;
    font-size: 24px;
}

.upvotes {
    color:gray;
    margin-bottom: 20px;
    font-size: 20px;
}

.time {
    color:grey;  
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}

